html{
    font-size:62.5%;
}
body{
    margin:0;
    box-sizing: border-box;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
strong{
    font-weight: bold;
}
label{
    font-size: 2.5rem;
}
h2, h3{
    margin:0;
    font-weight: 100;
}
h3{
    font-size:1.8rem;
}
h1{
    font-weight: 100;
    font-size: 4rem;
}
input{
    text-indent: 1em;
}
.song{
    font-weight: 100;
    font-size: 2rem;
}
p{
    font-size: 1.75rem;
    text-align: center;
    font-style: italic;
}
#name{
    font-size:2.75rem;
    font-weight: bold;
    letter-spacing: 0.025em;
}
.hide{
    display: none;
}