html{
    font-size:62.5%;
}
body{
    --color-primary: #9192EE;
    --color-primary-dark: #007f67;
    --footer-color: #d6d7f3;
    --font-color: #3b0086;
    --border-radius: 7px;
    
  
    margin: 0;
    height: 100vh;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;


    margin:0;
    box-sizing: border-box;
    background-color: var(--color-primary);
    background-image: url('images/pexels-mo-9002742.jpg');
    background-size: cover;
    color: var(--font-color);
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content{
    background-image: url('images/cardcover3.png');
    background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#column1, #column2{
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100%;
}
#column1{
    justify-content: flex-start;
}
#column2{
    padding: 5%;
    width:25%;
}


label{
    font-size: 2.5rem;
}

h2, h3{
    margin:0;
    font-weight: 100;
}

h3{
    font-size:1.8rem;
    color: var(--color-primary)
}

h1{
    font-weight: bold;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom:0.5em;
    
}
#search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em 0 2em 0;
}
input{
    text-indent: 1em;
    display: inline;
    height:2em;
    font-size: 1.5em;
    border-radius: 1em 0 0 1em;
    background-color: transparent;
}
button{
    display:inline;
    width:7em;
    height:2.1em;
    font-size: 1.75em;
    color: var(--color-primary);
    background-color: var(--font-color);
    border-radius: 0 1em 1em 0;
}
.song{
    font-weight: 100;
    font-size: 2rem;
    color: var(--color-primary);
}
p{
    font-size: 1.75rem;
    text-align: left;
    color: var(--font-color);
    
}
#name{
    font-size:2.75rem;
    font-weight: bold;
    letter-spacing: 0.025em;
    color: var(--font-color);
}
video{
    opacity: 0.92;
    border-radius: 1em;
    
}
.hide{
    display: none;
}

a, li{
    text-decoration: none;
    list-style: none;
}

footer *{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    color: var(--footer-color);
    font-size: 1.75rem;
    letter-spacing: 0.025em;
    margin: 10px;

    

}